.sokeio-builder-manager {

    height: 100%;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #004f56;
    max-height: 100vh;

    .gjs-one-bg {
        background-color: #004f56;
        color: #fff;
    }

    .gjs-pn-panel {
        position: unset;
    }

    .sokeio-builder-header {
        height: 40px;
        color: #fff;
        background-color: #02383D;
        flex: none;
        display: flex;
        flex-direction: row;

        .sokeio-builder-header__left {

            .sokeio-builder-logo {
                min-width: 300px;
                padding: 7px;
                padding-left: 10px;
                font-weight: 700;
                font-size: 16px;
                align-items: center;

                span {
                    color: #02383D;
                    font-size: 10px;
                    background: #eee;
                    border-radius: 2px;
                    border: 1px solid #12FEE0;
                    font-weight: 700;
                    ;
                    padding: 2px;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }

        .sokeio-builder-header__center {
            text-align: center;
            flex-grow: 1 !important;

            .gjs-devices-c {
                width: 200px;
            }
        }

        .sokeio-builder-header__right {
            min-width: 300px;

            .gjs-pn-options {
                right: 2px;
            }
        }

    }

    .sokeio-builder-body {
        flex: auto;
        display: flex;
        flex-direction: row;

        .sokeio-builder-control {
            border-top: 1px solid #045a88;
            height: 100%;
            background-color: #02383D;
            flex: none;
            display: flex;

            .sokeio-builder-control__list {
                width: 50px;
                height: 100%;
                border-right: 1px solid #12FEE0;

                .sokeio-builder-control__list--item {
                    padding: 15px;
                    color: #fff;
                    border-bottom: 1px solid #12FEE0;


                    &.active {
                        background-color: #12FEE0;
                        color: #02383D;
                    }

                }
            }

            .sokeio-builder-control__content {
                overflow: auto;
                flex: auto;
                height: 100%;

                .sokeio-builder-control__content--item {
                    width: 250px;
                    height: 100%;

                    h3 {
                        margin: 0;
                        color: #fff;
                        background-color: #045a88;
                        padding: 5px;
                    }

                    .manager-body {
                        height: calc(100vh - 80px);
                        overflow: auto;
                    }

                    .page-manager {
                        background-color: #eee;
                        padding: 10px;

                        .card {
                            margin: 0;
                            background-color: unset;

                            .card-body {
                                padding: 0;
                            }

                            .card-footer {
                                background-color: unset;
                                text-align: right !important;
                            }
                        }
                    }

                    .template-page-manager {
                        padding: 10px;

                        .item-box {
                            background-color: #eee;
                            margin-bottom: 4px;
                        }
                    }

                }
            }
        }

        .sokeio-builder-content {
            flex: auto;

            .gjs-cv-canvas {
                width: 100%;
                top: 0px;
                height: 100%;

                .gjs-cv-canvas-bg {
                    background-color: rgba(0, 0, 0, .4);
                }


            }

        }

        .sokeio-builder-setting {
            flex: none;
            border-top: 1px solid #045a88;

            height: 100%;
            background-color: #02383D;
            width: 300px;

            .sokeio-builder-setting__component {
                height: 100%;

                .sokeio-builder-setting__component--tabs {
                    border-bottom: 1px solid #12FEE0;
                    display: flex;
                    flex-direction: row;

                    .sokeio-builder-setting__component--tab {
                        padding: 10px;
                        flex: auto;
                        color: #fff;
                        border-left: 1px solid #12FEE0;
                        text-align: center;

                        &:hover,
                        &.active {
                            cursor: pointer;
                            background-color: #045a88;
                        }
                    }
                }
            }

        }

    }

    &.sokeio-builder-preview {

        .sokeio-builder-header,
        .sokeio-builder-setting,
        .sokeio-builder-control {
            display: none;
        }
    }
}